body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
/*	background: #EFEFEF;*/
	background: url(body_bg.jpg) repeat-x left top;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	width:998px;
}

#header
{
	margin: 0;
	padding: 0;
	background: url(header_bg.jpg) repeat-x left top;
}

#content
{
    padding: 0px 20px 0px 0px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
}

#mainmenu
{
	background: url(nav_bg.jpg) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
	margin: 0 11px;
}

#mainmenu ul li a:active, #mainmenu ul li a:link, #mainmenu ul li a:visited
{
	color:#000000;
	background-color:transparent;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover
{
/*	color: #6399cd;
background-color:#EFF4FA;*/
   	background-color:#259CA4;
	color:#FFFFFF;
	cursor:pointer;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
	background:rgb(245,245,245);
	/*
	border-width:0 0 1px 0;
	border-style:dotted;
	border-color:#CCCCCC;
*/
}

div.breadcrumbs span
{
   	color:rgb(153,153,153);
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}



/* apengding css style  */

.font1
{
	color:red;
	font-weight:bold;
	font-size:14px;
}


.hr0{ height:1px;border:none;border-top:1px dashed #259CA4;margin:3px 0 15px 0; }
.hr1{ height:1px;border:none;border-top:1px solid #555555;}
.hr2{ height:3px;border:none;border-top:3px double #259CA4;margin:3px 0 15px 0; }
.hr3{ height:5px;border:none;border-top:5px ridge green;}
.hr4{ height:3px;border:none;border-top:3px groove #A1D4D7;}

#info
{
	padding:20px 10px;		
	background:#E0FFFF;
}

#contact
{
	padding:20px 10px;		
	border:1px solid #CCCCCC;
}

#news .articleItem
{
	height:40px;
}

#news a
{
	float:left;
	color:#000000;
      	display:inline-block;
	overflow: hidden; 
	white-space: nowrap;   
	-o-text-overflow:ellipsis; 
	text-overflow:ellipsis; 
	vertical-align:middle; 
}


.ruleItem
{
	margin:20px 0px 0px 0px;
	border: 2px dashed #d6d6d6; 
	border-width:0px 0px 2px 0px;
}

.ruleTitle
{
	margin:10px 0px 10px 0px;
       	font-size:18px;
       	font-weight:bold;
}

.ruleText
{
      	margin:10px 0px 5px 0px;
      	color:#000000;
      	width:96%;
	max-height:70px;
	text-indent:2em;
       	line-height:150%;
       	font-size:15px;
       	word-break:break-all;
	overflow: hidden; 
/*	white-space: nowrap;  */   
	-o-text-overflow:ellipsis; 
	text-overflow:ellipsis; 

}


.leftNavbar
{
   	display:inline-block;
	float:left;
	width:18%;
	border:1px solid #CCCCCC;
	padding:10px 0px 0px 0px;
}


.rightContent
{
	display:inline-block;
	float:right;	
        word-wrap:break-word;
	width:80%;
}


.leftNavbar li.nav-header
{
	font-size:18px;
	border-width:0 0 2px 0;
	border-style:dotted;
	border-color:#CCCCCC;
}


.leftNavbar ul li a
{
	padding: 7px 15px;
	color:#000000;
	border-width:0px 0px 1px 0px;
	border-style:solid;
	border-color:#CCCCCC;
}


#specialClassroom
{
        min-height:600px;
	background:url("special_bottom_left.jpg") no-repeat scroll bottom left;
}

#classroomIntroduce
{
	min-height:600px;
	background:url("introduce_bottom_left.jpg") no-repeat scroll bottom left;
}

#eastA, #eastB, #eastC, #eastD, #eastE
{
        width:300px;
        margin:20px 20px 20px 20px;
        float:left;
}

.tableCenter tr td,.tableCenter tr th, .tableCenter caption
{
        text-align:center;
}

#south1
{
        float:left;
        width:250px;
        margin:20px 0px 20px 20px;
}

#south2 
{
        float:right;
        width:350px;
        margin:20px 40px 20px 0px;
}

#south3,#south4
{
        width:700px;
}

#zhuhaiLeft
{
        width:38%;
        float:left;
}

#zhuhaiRight
{
        width:38%;
        float:right;
}

#zhuhaiB,#zhuhaiD
{
        width:300px;
        margin:20px 0px 20px 20px;
        float:left;
}


#zhuhaiC,#zhuhaiE,#zhuhaiF
{
        width:300px;
        margin:20px 40px 20px 0px;
        float:right;
}



#north1
{
        width:400px;
        margin:20px auto;
}

#north2
{
        width:500px;
        margin:20px auto;
}


.siteLink a
{
        margin:0px 2px;
        display:inline-block;
        width:238px;
        height:45px;
        float:left;
        position:relative;
        background:#CCCCCC url('link_icon.jpg') no-repeat;
        text-align:center;                 
        font-size:20px;
}

.siteLink a span
{
        display:block;
        margin:10px; auto;
}

#link1
{
        background-position:0.15% 0%;
}

#link2
{
        background-position:33.50% 0%;
}

#link3
{
        background-position:67.15% 0%;
}

#link4
{
        background-position:100% 0%;
}


#article 
{
        width:730px;
        margin:auto auto;
}

.articleInfo
{
        color:rgb(127,127,127);
        text-align:center;
}

.articleInfo span
{
        margin:0px 30px;
}
